<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84031126586-8vocntjfd94sv4te1ma3njj9eiv6q7rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84031126586-8vocntjfd94sv4te1ma3njj9eiv6q7rn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84031126586-9qg6sa3sb8fqbtrvoulkhbjm0qmvkf2c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzEw5JezO0Kwm9eeOZMthEyEfc3efkHWg</string>
	<key>GCM_SENDER_ID</key>
	<string>84031126586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whoissio.covid-blind</string>
	<key>PROJECT_ID</key>
	<string>covidblind</string>
	<key>STORAGE_BUCKET</key>
	<string>covidblind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84031126586:ios:ff0f8302f7a598d6b28903</string>
</dict>
</plist>